body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header,
.contact,
.section {
    margin-bottom: 10px;
    background: #ffffff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #0073e6;
}

h2 {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 3px;
}

ul {
    padding-left: 18px;
}

p {
    margin: 4px 0;
}

header,
.contact {
    text-align: center;
}

a {
    color: #0073e6;
    text-decoration: none;
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.light-mode {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.light-mode header,
.light-mode .contact,
.light-mode .section {
    margin-bottom: 10px;
    background: #ffffff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.light-mode h1 {
    font-size: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #0073e6;
}

.light-mode h2 {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 3px;
}

.light-mode ul {
    padding-left: 18px;
}

.light-mode p {
    margin: 4px 0;
}

.light-mode header,
.light-mode .contact {
    text-align: center;
}

.light-mode a {
    color: #0073e6;
    text-decoration: none;
}

.light-mode .two-column {
    display: flex;
    justify-content: space-between;
}

.light-mode .column {
    width: 48%;
}